*{
    background-color: darkslategrey;
    margin: auto;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
}

button{
    width: 250px;
    height: 100px;
    background-color: #002c30;
    font-size: large;
    border: 1px solid #014146;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

button:hover{
    background-color: #001b1d;
    transition: 0.5s;
}

h1{
    font-size: 150px;
    color: #ffffff;
}